# ============================================================
# Archivos de resultados y datos
# ============================================================

# Arrays numpy
*.npy
*.npz

# Archivos pickle
*.pkl
*.pickle

# ============================================================
# Resultados
# ============================================================

# Carpetas de resultados
RESULTADOS_*/*
!RESULTADOS_*/.gitkeep
CONVERGENCIA_*/*
!CONVERGENCIA_*/.gitkeep

# ============================================================
# Modelos
# ============================================================
MODELS/*
*.keras
*.h5
*.pb
!MODELS/.gitkeep

# ============================================================
# Datos
# ============================================================
DATA/*
*.csv
*.hdf5
*.mat
!DATA/.gitkeep

# ============================================================
# Figuras
# ============================================================
*.png
FIGS/*.png
!FIGS/mapa_boyas.png
!FIGS/comparacion_regiones.png
!FIGS/.gitkeep

# ============================================================
# Metodos
# ============================================================
METHODS/*
!METHODS/.gitkeep

# ============================================================
# Códigos python
# ============================================================
!xai_utils/
!xai_utils/**

# ============================================================
# Informes
# ============================================================

INFORMES/*.mp4
INFORMES/*.pdf
!INFORMES/Proyecto_INF473_Entrega_1.mp4
!INFORMES/Proyecto_INF473_Entrega_2.mp4
!INFORMES/.gitkeep


# ============================================================
# Entornos virtuales y Conda
# ============================================================
venv/
env/
.env
*.egg-info/
__pycache__/
*.pyc
*.pyo
.conda/

# ============================================================
# Jupyter Notebook
# ============================================================
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# ============================================================
# IDEs y editores
# ============================================================
.vscode/
.idea/
*.spyproject
*.spyderproject

# ============================================================
# Sistema operativo
# ============================================================
.DS_Store
Thumbs.db
desktop.ini

# ============================================================
# LaTeX
# ============================================================
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg

# ============================================================
# Datos geoespaciales y referencias
# ============================================================
REFS/
ne_10m_bathymetry_all/